<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class="join-wrapper">
        <div class="container" align="center">
            <div><h2>회원가입을 위해<br>정보를 입력해주세요.</h2></div>
            <form th:action="@{/user/join}" th:object="${userCreateForm}" method="post">
                <div th:if="${#fields.hasAnyErrors()}" align="center">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}"></div>
                </div>
                <label for="username">아이디
                    <input type="text" id="username" th:field="*{username}" required><br>
                </label>
                <label for="password1">비밀번호
                    <input type="password" id="password1" th:field="*{password1}" required><br>
                </label>
                <label for="password2">비밀번호 확인
                    <input type="password" id="password2" th:field="*{password2}" required><br>
                </label>
                <label for="nickname">닉네임
                    <input type="text" id="nickname" th:field="*{nickname}" required><br>
                </label>
                <span>
                    <label for="gender">성별
                        <input type="radio" class="radio" th:field="*{gender}" th:value="남" th:text="남성" required>
                        <input type="radio" class="radio" th:field="*{gender}" th:value="여" th:text="여성" required><br>
                    </label>
                </span>
                <label for="birth">생년월일
                    <input type="text" id="birth" th:field="*{birth}" placeholder="20020420" required><br>
                </label>
                <label for="email">이메일
                    <input type="email" id="email" th:field="*{email}" placeholder="appleberry@naver.com" required><br>
                </label>
                <label for="phone">휴대폰 번호
                    <input type="text" id="phone" th:field="*{phone}" placeholder="01012345678" required><br>
                </label>
                <br>
                <button type="submit">회원가입</button>
                <div class="find">
                    <a th:href="@{/user/login}">이미 아이디가 있으신가요? <strong>로그인</strong></strong></a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>