<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>
    <div class="login-box">
        <div class="container" align="center">
            <div class="login-wrapper">
                <form th:action="@{/user/login}" name="loginForm" method="post">
                    <!-- 시큐리티의 로그인이 실패할 경우에는 로그인 페이지로 다시 리다이렉트된다. 이때 페이지 파라미터로 error가 함께 전달 -->
                    <!-- 로그인 페이지의 파라미터로 error가 전달될 경우 "사용자 ID 또는 비밀번호를 확인해주세요." 라는 오류메시지를 출력 -->
                    <div th:if="${param.error}" align="center">
                        <script>
                            alert('사용자 아이디 또는 비밀번호를 확인해주세요.');
                        </script>
                    </div>
                    <div class="login-input">
                        <input type="text" name="username" id="username" placeholder="아이디"><br>
                        <input type="password" name="password" id="password" placeholder="비밀번호">
                    </div>
                    <div class="find">
                        <a th:href="@{/user/findId}">ID 찾기</a> |
                        <a th:href="@{/user/findPw}">비밀번호 찾기</a><br>
                        <a th:href="@{/user/join}">아직 회원이 아닌가요? <strong>회원가입</strong></strong></a>
                    </div>
                    <button type="submit">로그인</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>